{% extends "index.html" %}

{% block main %}
<form method="post" action="/budget/">
{% csrf_token %}
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" name="name" id="inputName" aria-describedby="nameHelp" placeholder="Enter the budget name.">
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <textarea class="form-control" id="inputDescription" name="description" rows="3"></textarea>
  </div>
  <div class="form-check">
    <label class="form-check-label" for="typeSelect">Check me out</label>
    <select class="form-control" id="typeSelect" name="type">
        {% for key,  value in types %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}